<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="pathName">${env:AppLogs}</Property>
    </Properties>
    <Appenders>
        <!--<Console name="Console" target="SYSTEM_OUT">-->
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}%l - %msg%n"/>-->
        <!--</Console>-->

        <!--<RollingFile name="RollingFileThirdPart" fileName="./logs/${artifactId}.thirdPart.log"-->
                     <!--filePattern="./logs/${artifactId}.%d{yyyy-MM-dd}-%i.thirdPart.log">-->
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} ${env:HOSTNAME} [%t] %C{1.}:%L %p - %msg%n"/>-->
            <!--<Policies>-->
                <!--<TimeBasedTriggeringPolicy/>-->
                <!--<SizeBasedTriggeringPolicy size="10 MB"/>-->
            <!--</Policies>-->
        <!--</RollingFile>-->

        <!--<RollingFile name="RollingFileInfo" fileName="./logs/${artifactId}.log"-->
                     <!--filePattern="./logs/${artifactId}.%d{yyyy-MM-dd}-%i.log">-->
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} ${env:HOSTNAME} [%t] %C{1.}:%L %p - %msg%n"/>-->
            <!--<Policies>-->
                <!--<TimeBasedTriggeringPolicy/>-->
                <!--<SizeBasedTriggeringPolicy size="10 MB"/>-->
            <!--</Policies>-->
        <!--</RollingFile>-->


        <RollingFile name="test" fileName="${pathName}/test.log"
                     filePattern="${pathName}/test.log.%d{yyyy-MM-dd}">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!--<Root level="${log.level}">-->
            <!--<AppenderRef ref="RollingFileThirdPart"/>-->
        <!--</Root>-->
        <Root level="debug">
            <AppenderRef ref="test"/>
        </Root>
        <!--<logger name="com.testbird.artisan.event.query" level="${log.level}" additivity="false">-->
            <!--<AppenderRef ref="RollingFileInfo"/>-->
        <!--</logger>-->
    </Loggers>
</Configuration>